

<html>
    <head>
        <title>כותרת הדף</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body style="font-family:arial;  margin:auto;">
        <div style="width:90%; margin:auto">
            <div style="direction:rtl; font-size:x-large; margin-bottom:25px;">
                <div>ד"ר <%=operator_name %></div>
            </div>
        </div>
    </body>
</html>
